target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
.idea/*
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/.idea/dataSources/af0b9c05-f44b-4452-a63c-30c37850ca2d.xml
/.idea/httpRequests/http-client.cookies
/.idea/httpRequests/2024-02-15T144848.400.json
/.idea/httpRequests/http-requests-log.http
/.idea/dataSources/1bbb5a9d-dd75-4bde-964d-8ef23253ee80/storage_v2/_src_/schema/performance_schema.kIw0nw.meta
/.idea/dataSources/1bbb5a9d-dd75-4bde-964d-8ef23253ee80/storage_v2/_src_/schema/stock.FveKBg.meta
/.idea/dataSources/1bbb5a9d-dd75-4bde-964d-8ef23253ee80/storage_v2/_src_/schema/information_schema.FNRwLQ.meta
/.idea/dataSources/17e97395-a0e9-425c-9bbf-e4b68fd4c24d.xml
/.idea/dataSources/1bbb5a9d-dd75-4bde-964d-8ef23253ee80.xml
/.idea/dataSources/*
